.file-tree {
  list-style: none;
  overflow: hidden;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.file-tree-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;
  padding: 4px 0;
  color: white; /* Ensure text color is visible */
}

.file-tree-button:hover {
  color: #007bff; /* Change text color on hover */
}

.file-icon {
  margin-right: 8px;
  color: white;
}

.nested-list {
  padding-left: 20px;
  margin-top: 4px;
}

.file-item {
  align-items: center;
  font-size: 14px;
  padding: 4px 0;
}

.file-item:hover {
  color: #007bff; /* Change text color on hover */
}

.file-tree li {
  display: block; /* Ensure items are displayed */
}

.file-selector {
  display: flex;
  padding: 5px;
  justify-content: center;
  border-radius: 10px;
  border-style: dotted;
}

.file-selector:hover {
  color: #D3D3D3
}
